@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,700;1,400&display=swap');

$color: #009870;
$colorLight: #f5fcf5;
$border: #f1f1f1;
$success: #3cb55d;
$successLight: #b4f7f0;
$warning: #ffbe4e;
$warningLight: #fff9eb;
$error: #ef2845;
$errorLight: #fef6f6;
$info: #3c83b5;
$infoLight: #f5fcfc;
$grey:#838389;