// v.1.0
@import 'settings';

@import 'vendors/reset';
@import 'vendors/grid';
@import 'vendors/helpers';
@import 'vendors/datepicker';

@import 'components/table';
@import 'components/form';
@import 'components/loading';
@import 'components/pagination';
@import 'components/buttons';
@import 'components/tabs';
@import 'components/pricing';

@import 'style/general';
@import 'style/sidebar';
@import 'style/aside';
@import 'style/footer';
@import 'style/alert';