[v-cloak] {
	display: none!important;
}

* {
	box-sizing: border-box;
}

html {
	display: block!important;
	scroll-behavior: smooth;
}

body {
	font-family: 'Nunito', sans-serif;
	font-weight: 400;
	color: #272a3a;
	font-size: 16px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale; 
	font-variant-ligatures: none;
	-webkit-text-size-adjust: 100%;
	overflow-x: hidden;
	background: #f3f8fc;
	padding: 35px;

	::selection { background: #000; color: #fff; }

	@media (max-width: 1023px) {
		padding: 20px;
	}
	@media (max-width: 767px) {
		padding: 5px;
		font-size: 14px;
	}
}

input, button, select, textarea {
	outline: 0!important;
	font-family: 'Nunito', sans-serif;
}

a, button { 
	outline: 0!important;
	text-decoration: none!important;
	transition: all .2s ease;
	cursor: pointer;

	&.hover {
		color: #000;

		@media (min-width: 1025px) {
			&:hover {
				color: $color;
			}
		}
	}

	@media (min-width: 1025px) {
		&:hover {
			color: #000;
		}
	}
}

#__next {
	max-width: 1400px;
	margin: 0 auto;
}

strong {
	font-weight: 600;
}

em {
	font-style: italic;
}

img {
	max-width: 100%;
	height: auto;
}

svg {
	width: 100%;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.text-center {
	text-align: center;
}

.hide {
	display: none!important;
}

.wrapper {
	position: relative;
}

.nowrap {
	white-space: nowrap;
}

.up {
	pointer-events: none;
	opacity: .5;
}

h1 {
	font-size: 25px;
	font-weight: 700;
	color: $color;

	small {
		font-size: 14px;
		color: $grey;
		margin-top: 5px;
		display: block;
	}

	@media (max-width: 767px) {
		font-size: 16px;
	}
}

h2 {
	font-size: 20px;
	font-weight: 700;
	color: $color;

	@media (max-width: 767px) {
		font-size: 16px;
	}
}

h3 {
	font-size: 18px;
	font-weight: 700;

	@media (max-width: 767px) {
		font-size: 14px;
	}
}

main {
	background: #fff;
	padding: 15px 10px;
	position: relative;
	z-index: 1;
	border-radius: 10px;
	overflow: hidden;

	@media (max-width: 767px) {
		padding: 5px 10px;
		border-radius: 0;
	}

	.main {
		padding: 12px 25px 25px;
		width: calc(100% - 225px);
		position: relative;
		min-height: 380px;

		@media (max-width: 1023px) {
			width: 100%;
			padding: 5px 5px 25px;
		}
		@media (max-width: 767px) {
			min-height: 450px;
		}

		.note {
			font-size: 12px;
			position: absolute;
			bottom: 0;
			right: 0;
			color: $grey;
			padding-left: 25px;
			font-style: italic;

			> div {
				margin-bottom: -2px!important;
			}
		}
	}

	.inside {
		position: relative;
		overflow: hidden;

		.overlay {
			content: '';
			display: block;
			position: absolute;
			width: calc(100% - 10px);
			height: 100%;
			top: 0;
			left: 5px;
			background: #272a3a;
			opacity: 0;
			visibility: hidden;
			z-index: 8;
			border-radius: 10px;
			transition: all .2s .5s ease;
		}

		&.overlay-on {
			.overlay {
				opacity: .95;
				visibility: visible;
				transition-delay: 0s;
			}
		}

		&.updating {
			pointer-events: none;
		}
	}
}

.text-success {
	color: $color;
}

.text-warning {
	color: $warning;
}

.label {
	background: $border;
	font-size: 11px;
	font-weight: 700;
	text-transform: uppercase;
	padding: 5px 15px;
	margin-top: -2px;
	display: inline-block;
	border-radius: 20px;

	&.success {
		background: rgba($color, .3);
		color: $color;
	}

	&.warning {
		background: $warningLight;
		color: $warning;
	}
}

.tip, .action {
	width: 24px;
	height: 24px;
	border-radius: 50%;
	background: $border;
	display: inline-block;
	vertical-align: middle;
	margin-top: -5px;
	white-space: normal;
	position: relative;

	&:hover {
		> span {
			opacity: 1;
			visibility: visible;
		}
	}

	> span {
		position: absolute;
		bottom: 125%;
		left: 50%;
		transform: translateX(-50%);
		display: block;
		width: 100px;
		padding: 5px;
		border-radius: 5px;
		background: $border;
		font-size: 12px;
		box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 10px -5px;
		text-align: center;
		opacity: 0;
		visibility: hidden;
		transition: all .2s ease;
	}

	> div {
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		position: absolute;
		opacity: .75;
		margin: 0 auto!important;
    display: block!important;
    height: 75%;
	}
}

.action {
	border-radius: 5px;
	cursor: pointer;

	> span {
		width: 50px;
	}

	&.success {
		background: $colorLight;

		@media (min-width: 1025px) {
			&:hover {
				background: darken($colorLight, 3%)
			}
		}
	}

	&.error {
		background: $errorLight;

		@media (min-width: 1025px) {
			&:hover {
				background: darken($errorLight, 2%)
			}
		}
	}

	&.info {
		background: $infoLight;

		@media (min-width: 1025px) {
			&:hover {
				background: darken($infoLight, 4%)
			}
		}
	}
}

.main-shadow {
	box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 40px 5px;
  border-radius: 100%;
  width: 90%;
  margin: 0 auto;
  position: relative;
  z-index: 0;
}