.tabs {
	width: 100%;

	.tabs-nav {
		border-bottom: 1px solid $border;
		text-align: center;

		a {
			display: block;
			font-size: 11px;
			text-transform: uppercase;
			font-weight: 700;
			padding: 12px 25px;
			margin-bottom: -1px;
			border-bottom: 2px solid transparent;

			@media (min-width: 1025px) {
				&:hover {
					background: #f3f8fc;
				}
			}

			&.active {
				color: $color;
				border-bottom-color: $color;
			}

			&.has-errors {
				position: relative;

				&:after {
					content: '';
					position: absolute;
					width: 5px;
					height: 5px;
					border-radius: 50%;
					left: 15px;
					top: 50%;
					margin-top: -4px;
					background: $error;
				}
			}
		}
	}

	.tab {
		padding: 25px 0;
	}
}